<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form >

      <div>
        <label for="fname">First Name</label>
        <input type="text" id="fname" placeholder="Your name.."
        >
        <!-- <div>
          <small *ngIf="fname.invalid && fname.touched">First Name is a required field</small>
          <span *ngIf="firstname">You entered {{firstname}}</span>
        </div> -->
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" placeholder="Your last name.."
        >
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your last email..">
      </div>
      
      <label for="country">Country</label>
      <select id="country" name="country" >
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
        <option value="india">India</option>
        <option value="uk">UK</option>
      </select>

      <label for="gender">Gender:</label>
        <input type="radio"  name="gender" >
        <label for="male"></label>
      <br><br>
      <label>Hobbies <i>(Optional)</i></label>
      <div class="form-inline">
          <label><input type="checkbox" value="sports"> Sports</label>
          <label><input type="checkbox" value="movies" > Movies</label>
          <label><input type="checkbox" value="music" > Music</label>
      </div>
    
      <input type="submit" value="Submit" id="btn"><!--[disabled]="!myForm.valid"-->
    </form>
</div>

